* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
html {
    font-size: 16px;
} */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
main,
footer {
    width: 100%;
    max-width: 1600px;
}

header {
    margin: 3rem 0;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10rem;
    margin: 3rem 0;
}

.phone,
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone a,
footer a {
    color: aquamarine;
    text-decoration: underline;
    margin: 2rem 0;
}

.phone video {
    height: 50rem;
}

.info h2,
footer h2 {
    font-weight: 300;
    font-size: 2rem;
}

.info p {
    font-size: 1.5rem;
    color: gray;
    margin: 2rem 0;
}

.info img {
    width: 70%;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 5rem;
    margin-bottom: 2rem;
}

footer p {
    align-self: flex-end;
    margin: 0.5rem;
    color: gray;
}


@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
    .phone video {
        height: 40rem;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 10px;
    }
}